{%  extends "core/base.html" %}
{% load static %}

{% block content %}

<div class="row" style="margin: 2%;">
    <div class="col-12">
        <p style="text-align: right;">(تفقد خانة المواعيد المحتجزة لمعرفة الاوقات الفارغة)</p><br>
        <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab"
                    aria-controls="basicInfo" aria-selected="true">احجز موعد</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="connectedServices-tab" data-toggle="tab" href="#connectedServices" role="tab"
                    aria-controls="connectedServices" aria-selected="false">المواعيد المحتجزة</a>
            </li>
        </ul>
        <div class="tab-content ml-1" id="myTabContent">
            <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab"  style="text-align: right;">
                <form method="POST" style="max-width:50rem;">
                    <p class="text-muted">(ادخل المعلومات الخاصة بالمريض او المستفيد فقط)</p>
                    {% csrf_token %}
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="name">الاسم</label>
                                {{form.first_name}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="lastname">اللقب</label>
                                {{form.last_name}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="date">اليوم المفضل</label>
                                {{ form.date}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="time">التوقيت المفضل</label>
                                {{form.time}}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="appointment">نوع الخدمة</label>
                                {{ form.service }}
                                </select>
                            </div>
                        </div>
                        <!-- Button -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <button style="font-weight: 500;" type="submit" class="btn btn-outline-success">احجز الان</button>
                            </div>
                        </div>

                        <div style="text-align: center; width: 100%;">
                            {% if messages %} {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message}}</div>
                            {% endfor %} {% endif %}
                        </div>

                    </div>
                </form>
            </div>


            <div class="tab-pane fade" id="connectedServices" role="tabpanel" aria-labelledby="ConnectedServices-tab">
                <table class="table table-bordered" style="font-size:small; font-weight: 700;" dir="ltr">
                    <tbody>
                        <tr>
                            <th>{{day1}}</th>
                            {% for time in timelist%}
                            <td {%for opp in opp1%} {%if opp.time == time %} style="color: red;" {% endif %}
                                {% endfor%}>{{time}}</td>
                            {% endfor %}

                        </tr>
                        <tr>
                            <th>{{day2}}</th>
                            {% for time in timelist%}
                            <td {%for opp in opp2%} {%if opp.time == time %} style="color: red;" {% endif %}
                                {% endfor%}>{{time}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>{{day3}}</th>
                            {% for time in timelist%}
                            <td {%for opp in opp3%} {%if opp.time == time %} style="color: red;" {% endif %}
                                {% endfor%}>{{time}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>{{day4}}</th>
                            {% for time in timelist%}
                            <td {%for opp in opp4%} {%if opp.time == time %} style="color: red;" {% endif %}
                                {% endfor%}>{{time}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>{{day5}}</th>
                            {% for time in timelist%}
                            <td {%for opp in opp5%} {%if opp.time == time %} style="color: red;" {% endif %}
                                {% endfor%}>{{time}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>{{day6}}</th>
                            {% for time in timelist%}
                            <td {%for opp in opp6%} {%if opp.time == time %} style="color: red;" {% endif %}
                                {% endfor%}>{{time}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>{{day7}}</th>
                            {% for time in timelist%}
                            <td {%for opp in opp7%} {%if opp.time == time %} style="color: red;" {% endif %}
                                {% endfor%}>{{time}}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



{% endblock content %}