{%  extends "core/base.html" %}
{% load static %}

{% block content %}

<div class="row" style="margin: 2%;">
    <div class="col-12">
        <p style="text-align: right;">(تفقد خانة المواعيد المحتجزة لمعرفة الاوقات الفارغة)</p><br>
        <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab"
                    aria-controls="basicInfo" aria-selected="true">احجز موعد</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="connectedServices-tab" data-toggle="tab" href="#connectedServices" role="tab"
                    aria-controls="connectedServices" aria-selected="false">المواعيد المحتجزة</a>
            </li>
        </ul>
        <div class="tab-content ml-1" id="myTabContent">
            <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab"
                style="text-align: right;">
                <form method="POST" style="max-width:50rem;">
                    <p class="text-muted">(ادخل المعلومات الخاصة بالمريض او المستفيد فقط)</p>
                    {% csrf_token %}
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="name">الاسم</label>
                                {{form.first_name}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="lastname">اللقب</label>
                                {{form.last_name}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="date">اليوم المفضل</label>
                                {{ form.date}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="time">التوقيت المفضل</label>
                                {{form.time}}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="appointment">نوع الخدمة</label>
                                {{ form.service }}
                                </select>
                            </div>
                        </div>
                        <!-- Button -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <button style="font-weight: 500;" type="submit" class="btn btn-outline-success">احجز
                                    الان</button>
                            </div>
                        </div>

                        <div style="text-align: center; width: 100%;">
                            {% if messages %} {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message}}</div>
                            {% endfor %} {% endif %}
                        </div>

                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="connectedServices" role="tabpanel" aria-labelledby="ConnectedServices-tab">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true">{{day1}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="false">{{day2}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab1" data-toggle="tab" href="#contact1" role="tab"
                            aria-controls="contact1" aria-selected="false">{{day3}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab2" data-toggle="tab" href="#contact2" role="tab"
                            aria-controls="contact2" aria-selected="false">{{day4}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab3" data-toggle="tab" href="#contact3" role="tab"
                            aria-controls="contact3" aria-selected="false">{{day5}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab4" data-toggle="tab" href="#contact4" role="tab"
                            aria-controls="contact4" aria-selected="false">{{day6}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab5" data-toggle="tab" href="#contact5" role="tab"
                            aria-controls="contact5" aria-selected="false">{{day7}}</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">


                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="shadow p-3 mb-5 bg-white rounded">
                            <div class="d-flex justify-content-between" style="max-width: 85%;">

                                {% for time in timelist%}
                                <div {%for opp in opp1%} {%if opp.time == time %} style="color: red;" {% endif %}
                                    {% endfor%}>
                                    <div style="max-width: 70%;">{{time}}</div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="shadow p-3 mb-5 bg-white rounded">
                            <div class="d-flex justify-content-between" style="max-width: 85%;">

                                {% for time in timelist%}
                                <div {%for opp in opp2%} {%if opp.time == time %} style="color: red;" {% endif %}
                                    {% endfor%}>
                                    <div style="max-width: 70%;">{{time}}</div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="contact1" role="tabpanel" aria-labelledby="contact-tab1">
                        <div class="shadow p-3 mb-5 bg-white rounded">
                            <div class="d-flex justify-content-between" style="max-width: 85%;">

                                {% for time in timelist%}
                                <div {%for opp in opp3%} {%if opp.time == time %} style="color: red;" {% endif %}
                                    {% endfor%}>
                                    <div style="max-width: 70%;">{{time}}</div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="contact2" role="tabpanel" aria-labelledby="contact-tab2">
                        <div class="shadow p-3 mb-5 bg-white rounded">
                            <div class="d-flex justify-content-between" style="max-width: 85%;">

                                {% for time in timelist%}
                                <div {%for opp in opp4%} {%if opp.time == time %} style="color: red;" {% endif %}
                                    {% endfor%}>
                                    <div style="max-width: 70%;">{{time}}</div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="contact3" role="tabpanel" aria-labelledby="contact-tab3">
                        <div class="shadow p-3 mb-5 bg-white rounded">
                            <div class="d-flex justify-content-between" style="max-width: 85%;">

                                {% for time in timelist%}
                                <div {%for opp in opp5%} {%if opp.time == time %} style="color: red;" {% endif %}
                                    {% endfor%}>
                                    <div style="max-width: 70%;">{{time}}</div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="contact4" role="tabpanel" aria-labelledby="contact-tab4">
                        <div class="shadow p-3 mb-5 bg-white rounded">
                            <div class="d-flex justify-content-between" style="max-width: 85%;">

                                {% for time in timelist%}
                                <div {%for opp in opp6%} {%if opp.time == time %} style="color: red;" {% endif %}
                                    {% endfor%}>
                                    <div style="max-width: 70%;">{{time}}</div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="contact5" role="tabpanel" aria-labelledby="contact-tab5">
                        <div class="shadow p-3 mb-5 bg-white rounded">
                            <div class="d-flex justify-content-between" style="max-width: 85%;">

                                {% for time in timelist%}
                                <div {%for opp in opp7%} {%if opp.time == time %} style="color: red;" {% endif %}
                                    {% endfor%}>
                                    <div style="max-width: 70%;">{{time}}</div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}