{% extends 'core/base.html'%}
{% load static %}
{% block content %}

<div class="border_top pt-3" style="padding: 20px;text-align: right;">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message}}

        {% endfor %}
        {% endif %}

    </div>
</div>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-2">
                <div class="profile-img">
                    <img style="max-width: 11rem;" src="{% static 'core/images/staff.jpg' %}" />
                </div>
            </div>
            <div class="col-md-9">
                <div class="profile-head">
                    <h5>
                        {{user.username}}
                    </h5>
                    <h6>
                        {{user.email}}
                    </h6>
                    <p class="proile-rating">صفحة خاصة بطاقم العمل</p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist" style="width: 55rem;">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">مواعيد اليوم</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">رزنامة الاسبوع</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
            </div>

            <div class="col-md-3">
                <div class="tab-content profile-tab" id="myTabContent">

                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"
                        style="text-align: right;font-weight:500;width:49rem;">

                        <table class="table table-hover" style="text-align: right;">
                            <thead>
                                <tr>
                                    <th scope="col">اسم المريض</th>
                                    <th scope="col">التوقيت</th>
                                    <th scope="col">الخدمة</th>
                                    <th scope="col">الحالة</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for appointment in appointments%}
                                <tr>
                                    <td>{{appointment.first_name}} {{appointment.last_name}}</td>
                                    <td>({{appointment.time}})</td>
                                    <td>{{ appointment.service }}</td>
                                    <td>{% if appointment.status == False %}محتجزة
                                    {% else %}مكتملة 
                                    {% endif %}
                                    </td>
                                    <td>
                                        <div style="text-align: left;">
                                            <a href="{% url 'check_appointment' appointment.id %}" class="btn btn-outline-success " role="button"
                                                aria-pressed="true">فحص</a>


                                            <div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"
                        style="text-align: right;font-weight: 900;width: 51rem;">
                        <div class="card-body">
                            <table class="table" style="font-size:small; font-weight: 700;" dir="ltr">
                                <thead>
                                    <tr>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">{{day1}}</th>
                                        {% for time in timelist%}
                                            <td
                                            {%for opp in opp1%}
                                            {%if opp.time == time %}
                                            style="color: red;"
                                            {% endif %}
                                            {% endfor%}
            
                                            >{{time}}</td>
                                        {% endfor %}
            
                                    </tr>
                                    <tr>
                                        <th scope="row">{{day2}}</th>
                                        {% for time in timelist%}
                                            <td
                                            {%for opp in opp2%}
                                            {%if opp.time == time %}
                                            style="color: red;"
                                            {% endif %}
                                            {% endfor%}
            
                                            >{{time}}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th scope="row">{{day3}}</th>
                                        {% for time in timelist%}
                                            <td
                                            {%for opp in opp3%}
                                            {%if opp.time == time %}
                                            style="color: red;"
                                            {% endif %}
                                            {% endfor%}
            
                                            >{{time}}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th scope="row">{{day4}}</th>
                                        {% for time in timelist%}
                                            <td
                                            {%for opp in opp4%}
                                            {%if opp.time == time %}
                                            style="color: red;"
                                            {% endif %}
                                            {% endfor%}
            
                                            >{{time}}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th scope="row">{{day5}}</th>
                                        {% for time in timelist%}
                                            <td
                                            {%for opp in opp5%}
                                            {%if opp.time == time %}
                                            style="color: red;"
                                            {% endif %}
                                            {% endfor%}
            
                                            >{{time}}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th scope="row">{{day6}}</th>
                                        {% for time in timelist%}
                                            <td
                                            {%for opp in opp6%}
                                            {%if opp.time == time %}
                                            style="color: red;"
                                            {% endif %}
                                            {% endfor%}
            
                                            >{{time}}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th scope="row">{{day7}}</th>
                                        {% for time in timelist%}
                                            <td
                                            {%for opp in opp7%}
                                            {%if opp.time == time %}
                                            style="color: red;"
                                            {% endif %}
                                            {% endfor%}
            
                                            >{{time}}</td>
                                        {% endfor %}
                                    </tr>
            
            
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
{% endblock content%}