{% extends 'core/base.html'%}
{% block content %}
{% load crispy_forms_tags %}

    <main role="main" class="container"  style="text-align: right;">
        <br>
        <div style="max-width: 70%; margin: auto; background-color: white; padding: 10px;">
            <form method="POST">

                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">تغيير كلمة السر</legend>
                </fieldset>
                {{ form|crispy }}

                <button type="submit" class="btn btn-outline-primary" style="width: 100%;">تغيير كلمة السر</button>
            </form>
        </div>
    </main>
    {% endblock content%}